@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600&family=Poppins:wght@400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}
#backgroundAudio {
    display: none; 
}
.container{
    width: 100vw;
    height: 100vh;
    /* background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%); */
    background: rgb(253, 248, 248);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.btn-container{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
#no-btn,
#yes-btn{
    width: 120px;
    height: 50px;
    color: black;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    border: none;
    outline: 2px solid #020000;
    border-radius: 15px 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: all .2s ease-in-out;
    text-transform: uppercase;
    margin: 0px 10px;

}
#yes-btn:hover{
    scale: 1.02;
    background-image: linear-gradient(120deg, #fa84ee 0%, #f48f8f 100%);
    /* color: white; */
}
#yes-btn:hover .container{
    background-image: linear-gradient(120deg, rgb(255, 0, 128) 0%, #f68084 100%);
}
#no-btn:hover{
    background-image: linear-gradient(120deg, #8fd3f4 0%, #84fab0 100%);
    color: red;
}
.container-inner{
    padding: 20px;
}

.image-section{
    width: 300px;
    height: 300px;
    padding: 20px;
    margin-bottom: 20px;
}
.image-section img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(99% + 4px);
    height: calc(99% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 15px 5px;
}


.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(120deg, #b495fd 0%, #ff8cb0 100%);
    color: black;
    /* background: #111; */
    left: 0;
    top: 0;
    border-radius: 15px 5px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}